@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-heading: var(--font-outfit);

  --color-gold: #D4AF37;
  --color-gold-hover: #C3A030;
  --color-dark-bg: #0B0B0B;
  --color-dark-card: #151515;
}

body {
  background-color: var(--color-dark-bg);
  color: #F8F8F8;
}

/* Animations */
@layer utilities {
  .shimmer-effect {
    background: linear-gradient(-45deg,
        transparent 25%,
        rgba(212, 175, 55, 0.1) 50%,
        transparent 75%);
    background-size: 200% 200%;
    animation: shimmer 3s infinite;
  }
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}